<footer>
    <div class="social-media">
        <ul>
            <li><a href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
        </ul>
    </div>
    <ul class="bottom-menu">
        <li class="footer-menu"><a href="index">Inicio</a></li>
        <li class="footer-menu"><a href="#">About</a></li>
        <li class="footer-menu"><a href="#">Envíos</a></li>
        <li class="footer-menu"><a href="#">Contacto</a></li>
    </ul>
</footer>