<footer>
    <div class="social-media">
        <ul>
            <li><a href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
        </ul>
    </div>
    <ul class="bottom-menu">
        <li class="footer-menu"><a href="/">Inicio</a></li>
        <li class="footer-menu"><a href="/about">About</a></li>
        <li class="footer-menu"><a href="#">Envíos</a></li>
        <li class="footer-menu"><a href="/contact">Contacto</a></li>
    </ul>
</footer>
<script src="/js/dark-mode.js"></script>
<script>
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    // Close the full screen search box
    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
<script>
    /*Set ancho de sidebar*/
    function openNav() {
        document.getElementById("mySidebar").style.width = "300px";
    }

    /*Set posición de sidebar*/
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
    }

    //Obtener del menú "Categorías" y su submenú
    const categoriasMenu = document.querySelector('.menu-item');
    // const submenu = document.querySelector('.submenu');

    //Agrega un evento de clic al elemento del menú "Categorías"
    categoriasMenu.addEventListener('click', function() {
        // Alternar la clase "collapsed" en el elemento del menú "Categorías"
        categoriasMenu.classList.toggle('collapsed');
    });

    categoriasMenu.addEventListener('click', function() {
        // Alternar la clase "open" en el elemento del menú "Categorías"
        categoriasMenu.classList.toggle('open');
        });
</script>
<script src="/js/shoppingCartSpanCounter.js"></script>
<script src="/js/shoppingCartShow.js"></script>
<script src="/js/shoppingCartTotals.js"></script>