<header>
    <div class="top-header">
        <p><span><a href="login">Login</a></span>|<span><a href="signup">Sign up</a></span></p>
    </div>
    <div class="medium-header">
        <i class="fas fa-search"></i>
        <i class="fas fa-bars" onclick="openNav()"></i>
        <div class="logo">
            <a href="index"><img src="/img/logo.jpg" alt="Logo BISNE"></a>
        </div>
        <a href="productCart"><i class="fas fa-cart-shopping"></i></a>
    </div>
    <nav>
        <ul>
            <li><a href="index">Inicio</a></li>
            <li class="dropdown"><a href="#" class="dropbtn">Categorías <i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a href="#">Tapices</a>
                    <a href="#">Espejos</a>
                    <a href="#">Cuelga macetas</a>
                    <a href="#">Sujeta cortinas</a>
                    <a href="#">Varios</a>
                    <a href="#">Cursos</a>
                  </div>
            </li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Envíos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>