<header>
    <div class="top-header">
        <% if (locals.isLogged) { %>
            <p><span>Hola <a href="/users/profile"><%= locals.userLogged.nombre %></a>!</span>|<span><a href="/users/logout">Log out</a></span></p>
        <% } else { %>
            <p><span><a href="/users/login">Login</a></span>|<span><a href="/users/signup">Sign up</a></span></p>
        <% } %>
    </div>
    <div class="medium-header">
        <i class="fas fa-search"></i>
        <i class="fas fa-bars" onclick="openNav()"></i>
        <div class="logo">
            <a href="/"><img src="/img/logo.jpg" alt="Logo BISNE"></a>
        </div>
        <a href="/productCart"><i class="fas fa-cart-shopping"></i></a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li class="dropdown"><a href="#" class="dropbtn">Categorías <i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a href="/categories/tapices">Tapices</a>
                    <a href="/categories/espejos">Espejos</a>
                    <a href="/categories/cuelga-macetas">Cuelga macetas</a>
                    <a href="/categories/sujeta-cortinas">Sujeta cortinas</a>
                    <a href="/categories/varios">Varios</a>
                </div>
            </li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Envíos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>