<aside id="mySidebar">
    <div class="top-sidebar">
        <div class="search-input">
            <input type="text" placeholder="Buscar">
        </div>
        <div class="close-icon">
            <i class="fas fa-xmark" onclick="closeNav()"></i>
        </div>
    </div>
    <div class="main-sidebar">
        <ul class="main-menu">
            <li><a href="/index">Inicio</a></li>
            <li class="menu-item"><a href="#">Categorías <span class="arrow">&#9658;</span></a>
                <ul class="submenu">
                    <!-- <li><a href="/categories/tapices">Tapices</a></li>
                    <li><a href="/categories/espejos">Espejos </a></li>
                    <li><a href="/categories/cuelgaMacetas">Cuelga macetas</a></li>
                    <li><a href="/categories/sujetaCortinas">Sujeta cortinas</a></li>
                    <li><a href="/categories/varios">Varios</a></li> -->
                    <% categorias.forEach(categoria => { %>
                        <li><a href="/categories/<%= categoria.categoria %>"><%= categoria.categoria %></a></li>
                    <% }); %>
                </ul>
            </li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Envíos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <div class="dark-mode sidebar-toggle">
            <p>Modo oscuro</p>
            <label class="toggle toggle-sidebar" onclick="toggleDarkMode('sidebar')">
                <input type="checkbox" onclick="toggleDarkMode('sidebar')">
                <span class="slider"></span>
                <span class="labels" data-on="ON" data-off="OFF"></span>
            </label>
        </div>
    </div>
    <div class="bottom-sidebar">
        <ul>
            <li><a href="/productCart"><i class="fas fa-light fa-cart-shopping"></i>Carrito</a></li>
            <% if (locals.isLogged) { %>
                <li><a href="/users/profile"><i class="fa-solid fa-user"></i>Mi perfil</a></li>
            <% } else { %>
                <li><a href="/users/login"><i class="fas fa-regular fa-arrow-right-to-bracket"></i>Login</a></li>
            <% } %>
        </ul>
    </div>
</aside>