<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bisne macrame | HOME</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/about.css">
</head>


<body>
    <%- include('./partials/header.ejs')%>
        <main>
            <%- include('./partials/sidebar.ejs')%>
                <div class="banner">
                    <img src="/img/home-banner.jpg" alt="">
                </div>
                <section class="popular-categories">
                    <div class="main-bar">
                        <div> ¡BIENVENIDOS A BISNE MACRAMÉ, DONDE EL ARTE DEL MACRAMÉ COBRA VIDA EN CADA NUDO Y TEJIDO!
                        </div>
                    </div>

                    <body>
                        <div class="aboutdiv">
                            <div class="meet">
                                <h2 style='text-align: center'> Meet </h2>
                            </div>
                            <div class="titulo">
                                <h2 style='text-align: center'> Sofi & Isa </h2>
                            </div>
                            <p>Bisne macramé es una empresa colombo argentina que surgió en 2023 como un sueño colectivo
                                durante un curso de programación en el corazón de Argentina.
                            <p>Estamos conformadas por tres mujeres apasionadas por el arte del macramé y por el deseo
                                de
                                compartir nuestra creatividad con el mundo.
                            <p>Lo que comenzó como una aventura para aprender nuevas habilidades y desarrollar un
                                proyecto
                                conjunto, rápidamente se convirtió en una pasión compartida por el macramé. </p>
                            <p>Nos cautivó la idea de transformar hilos y cuerdas en piezas de arte y desde entonces, no
                                hemos dejado de explorar, crear y evolucionar y hoy estamos orgullosas de presentarles
                                el
                                fruto de nuestro esfuerzo y dedicación. </p>

                            <div class="subtitulo">
                                <h3> Nuestra Misión </h3>
                            </div>
                            <p> En Bisne macramé, nuestra misión es tejer belleza, originalidad y calidad en cada pieza
                                que
                                creamos. Nos esforzamos por fusionar la rica tradición del macramé con diseños
                                contemporáneos y únicos. Cada pieza que creamos cuenta una historia, uniendo la
                                artesanía
                                ancestral con la creatividad moderna. </p>

                            <div class="subtitulo">
                                <h3>Nuestros Productos </h3>
                            </div>
                            <p> Nuestro catálogo es una manifestación de nuestra pasión por el macramé. Ofrecemos una
                                amplia
                                variedad de productos, desde elegantes decoraciones para el hogar hasta accesorios de
                                moda
                                inspirados en la naturaleza y la cultura argentina. Cada artículo es meticulosamente
                                diseñado y elaborado a mano, lo que garantiza su calidad y autenticidad. </p>

                            <div class="subtitulo">
                                <h3> Nuestro Compromiso </h3>
                            </div>
                            <p> En Bisne macramé, nos enorgullece nuestro compromiso con la sostenibilidad y el comercio
                                justo. Valoramos tanto la creatividad como el respeto por el medio ambiente y las
                                comunidades que nos rodean. Trabajamos con materiales sostenibles y apoyamos a artesanos
                                locales, fomentando un impacto positivo en nuestra sociedad. </p>

                            <div class="meet">
                                <h2 style='text-align: center'> Únete a nosotras en este emocionante viaje y descubre la
                                    magia de las
                                    cuerdas y los nudos. </h2>
                            </div>
                            <p style='text-align: center'> Gracias por apoyarnos y ser parte de nuestra historia.
                                Esperamos que
                                encuentres en nuestras creaciones la misma alegría y amor con la que las creamos. </p>


                        </div>

                    </body>
                    </a>
                    </div>
                    <%- include('./partials/footer.ejs')%>
</body>

</html>