<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bisne macrame | HOME</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/light-mode.css" id="light-stylesheet">
        <link rel="stylesheet" href="/css/dark-mode.css" id="dark-stylesheet" disabled>
    </head>
    <body>
        <%- include('./partials/header.ejs')%>
        <main>
            <%- include('./partials/sidebar.ejs')%>
            <div class="banner">
                <img src="/img/home-banner.jpg" alt="">
            </div>
            <section class="popular-categories">
                <div class="main-bar">
                    <p>Categorías populares</p>
                </div>
                <div class="img-popular">
                    <a href="/categories/tapices">
                        <article>
                            <div>
                                <img src="/img/yalin.jpeg" alt="">
                            </div>
                            <p>Tapices</p>
                        </article>
                    </a>
                    <a href="/categories/espejos">
                        <article>
                            <div>
                                <img src="/img/goldina.jpg" alt="">
                            </div>
                            <p>Espejos</p>
                        </article>
                    </a>
                    <a href="/categories/cuelga-macetas">
                        <article>
                            <div>
                                <img src="/img/macetero-triple.jpeg" alt="">
                            </div>
                            <p>Cuelga macetas</p>
                        </article>
                    </a>
                </div>
            </section>
            <section class="favorites-products">
                <div class="main-bar">
                    <p>Productos favoritos</p>
                </div>
                <div class="articles-container">
                    <div class="fav-products">
                        <a href="/products/tapices/tapiz-eloisa">
                            <article>
                                <img src="/img/eloisa.jpg" alt="">
                                <div class="details">
                                    <span class="title">Tapiz Eloisa</span>
                                </div>
                            </article>
                        </a>
                        <a href="/products/tapices/tapiz-candela">
                            <article>
                                <img src="/img/candela.jpeg" alt="">
                                <div class="details">
                                    <span class="title">Tapiz Candela</span>
                                </div>
                            </article>
                        </a>
                        <a href="/products/sujeta-cortinas/sujeta-cortina borla">
                            <article>
                                <img src="/img/borla.jpeg" alt="">
                                <div class="details">
                                    <span class="title">Cortinero borla</span>
                                </div>
                            </article>
                        </a>
                        <a href="/products/varios/posavaso">
                            <article>
                                <img src="/img/posavaso.jpeg" alt="">
                                <div class="details">
                                    <span class="title">Posavasos</span>
                                </div>
                            </article>
                        </a>
                        <a href="/products/tapices/tapiz-orly">
                            <article>
                                <img src="/img/orly.jpeg" alt="">
                                <div class="details">
                                    <span class="title">Tapiz Orly</span>
                                </div>
                            </article>
                        </a>
                        <a href="/products/espejos/espejo-silvia">
                            <article>
                                <img src="/img/silvia.jpeg" alt="">
                                <div class="details">
                                    <span class="title">Espejo Silvia</span>
                                </div>
                            </article>
                        </a>
                        <a href="/products/cuelga-macetas/cuelga-maceta clasico">
                            <article>
                                <img src="/img/cuelga-maceta.jpeg" alt="">
                                <div class="details">
                                    <span class="title">Cuelga macetas</span>
                                </div>
                            </article>
                        </a>
                        <a href="/products/tapices/tapiz-gal">
                            <article>
                                <img src="/img/gal.jpeg" alt="">
                                <div class="details">
                                    <span class="title">Tapiz Gal</span>
                                </div>
                            </article>
                        </a>
                    </div>
                   <a href="/products"><button type="button">Ver todos los productos</button></a>
                </div>
            </section>
        </main>
        <%- include('./partials/footer.ejs')%>
        <script src="/js/dark-mode.js"></script>
    </body>
</html>