<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bisne macrame | HOME</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <main>

            <div class="banner">
                <img src="/img/home-banner.jpg" alt="">
            </div>
            <div class="main-bar">
                <p>Oops página no encontrada, volver a Home</p>
            </div>
            
            <div class="medium-header">
                <div class="logo">
                    <a href="index"><img src="/img/logo.jpg" alt="Logo BISNE" height="150px"></a>
                </div>
            </div>
                           
        </main>
        
    </body>
</html>