<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bisne macrame | HOME</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productCart.css">
</head>

<body>
    <%- include('./partials/header.ejs')%>
        <main>
            <%- include('./partials/sidebar.ejs')%>
                <div class="menu">
                    <div class="enlaces">
                        <div class="contLine">
                            <div class="iconos"><i class="fas fa-cart-shopping"></i></div>
                            <div class="iconos"><i class="fas fa-light fa-location-arrow"></i></div>
                            <div class="iconos"><i class="fas fa-regular fa-credit-card"></i></div>
                            <div class="iconos"><i class="fas fa-duotone fa-check"></i></div>
                        </div>
                    </div>
                    <div class="cajas">
                        <div class="caja product-box">
                            <div class="descripcion">
                            </div>
                        </div>
                        <div class="caja totals-box">
                            <div class="suma">
                                <p id="carritoVacio">Aún no hay productos en el carrito</p>
                            </div>
                            <div class="total">
                                <p>TOTAL</p>
                                <p></p>
                            </div>
                            <% if (isLogged) { %>
                                <% if (userLogged.tipo_usuario_id === 2) { %>
                                    <a href="/users/profile/purchases" style="text-decoration: none;">
                                        <div class="btnContinuar">CONTINUAR</div>
                                    </a>
                                <% } else { %>
                                    <p class="no-purchase">No puedes hacer compras como admin.</p>
                                <% } %>
                            <% } else { %>
                                <p class="no-purchase">Necesitas <a href="users/login" style="text-decoration: underline; font-weight: bold; color: #EBEBEB;">iniciar sesión</a> para continuar.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
        </main>
        <%- include('./partials/footer.ejs')%>
        <script src="/js/shoppingCartShow.js"></script>
</body>

</html>