.productos {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 370px;
    margin: 20px 20px;
    border: 1px #9F967F solid;
}

.photo {
    flex: 1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-producto {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    color: #47453C;
    text-align: center;
}

.productos a {
    text-decoration: none;
}

.notificacion {
    position: absolute;
    top: 2%;
    background: #cb0000;
    padding: 0.3em 1em;
    border-radius: 5px;
    color: #EBEBEB;
    font-size: 13px;
    display: none;
}

/* Estilos específicos para tablet */
@media (max-width: 1024px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);
        /* Tablet: 3 cards por fila */
    }
}

/* Estilos específicos para mobile */
@media (max-width: 480px) {
    .card-producto {
        display: flex;
        flex-direction: column;
        width: 130px;
        height: 280px;
        margin: 20px 5px;
    }

    .info-producto p {
        margin: 5px 0;
        font-size: 15px;
    }

    .photo {
        width: 100%;
        height: -webkit-fill-available;
    }

    .add-to-cart button {
        padding: 0;
    }
}