.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

input {
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 100%;
    margin: 20px 15px 5px 0;
    color: black;
}

.input-box {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.text-error {
    text-align: end;
    font-size: 13px;
    color: red;
}

.input-error {
    border: red 1px solid;
}

form {
    width: 100%;
}

.form .input-box p {
    color: red;
    text-align: end;
    font-size: 0.8em;
    margin-top: 0;
}

@media (max-width: 480px) {
    .form {
        margin: 20px 40px;
    }
}

@media (max-width: 768px) {
    form {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .input-box {
        width: 100%;
    }
}