<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bisne macrame | HOME</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <%- include('../partials/header.ejs')%>
        <main>
            <aside id="mySidebar">
                <div class="top-sidebar">
                    <div class="search-input">
                        <input type="text" placeholder="Buscar">
                    </div>
                    <div class="close-icon">
                        <i class="fas fa-xmark" onclick="closeNav()"></i>
                    </div>
                </div>
                <div class="main-sidebar">
                    <ul class="main-menu">
                        <li><a href="index">Inicio</a></li>
                        <li class="menu-item"><a href="#">Categorías <span class="arrow">&#9658;</span></a>
                            <ul class="submenu">
                                <li><a href="#">Tapices</a></li>
                                <li><a href="#">Espejos </a></li>
                                <li><a href="#">Cuelga macetas</a></li>
                                <li><a href="#">Sujeta cortinas</a></li>
                                <li><a href="#">Varios</a></li>
                                <li><a href="#">Cursos</a></li>
                              </ul>
                        </li>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Envíos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="bottom-sidebar">
                    <ul>
                        <li><a href="productCart"><i class="fas fa-light fa-cart-shopping"></i>Carrito</a></li>
                        <li><a href="login"><i class="fas fa-regular fa-arrow-right-to-bracket"></i>Login</a></li>
                    </ul>
                </div>
            </aside>
            <div class="main-header">
                <p>Crea tu cuenta</p>
            </div>
            <div class="form">
                <form>
                    <div class="inputs">
                        <div class="input-box">
                            <input type="text" name="Name" id="formName" placeholder="Nombre" required>
                        </div>
                        <div class="input-box">
                            <input type="text" name="Last name" id="formLastName" placeholder="Apellido" required>
                        </div>
                        <div class="input-box">
                            <input type="email" id="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="input-box">
                            <input type="text" name="Phone number" id="formNumber" placeholder="Nro. de teléfono" required>
                        </div>
                        <div class="input-box">
                            <input type="password" id="password" name="password" placeholder="Contraseña" required>
                        </div>
                        <div class="input-box">
                            <input type="password" id="passwordRepeat" name="passwordRepeat" placeholder="Repetir contraseña" required>
                        </div>
                    </div>
                    <button type="submit">Crear tu cuenta</button>
                </form>
                <p>Ya tenes tu cuenta? Ingresa <a href="login">aquí</a>.</p>
            </div>
        </main>
        <%- include('../partials/footer.ejs')%>
        <script>
            /*Set ancho de sidebar*/
            function openNav() {
                document.getElementById("mySidebar").style.width = "300px";
                document.getElementByTagName("body").style.marginLeft = "300px";
            }

            /*Set posición de sidebar*/
            function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            }

            //Obtener del menú "Categorías" y su submenú
            const categoriasMenu = document.querySelector('.menu-item');
            const submenu = document.querySelector('.submenu');

            //Agrega un evento de clic al elemento del menú "Categorías"
            categoriasMenu.addEventListener('click', function() {
                // Alternar la clase "collapsed" en el elemento del menú "Categorías"
                categoriasMenu.classList.toggle('collapsed');
                // Mostrar u ocultar el submenú
                submenu.style.display = submenu.style.display === 'none' ? 'block' : 'none';
            });

            categoriasMenu.addEventListener('click', function() {
                // Alternar la clase "open" en el elemento del menú "Categorías"
                categoriasMenu.classList.toggle('open');
                submenu.style.display = categoriasMenu.classList.contains('open') ? 'block' : 'none';
                });
        </script>
    </body>
</html>